<h4>@ViewBag.Room.Description</h4>
<ul>
    @foreach (var path in ViewBag.Paths)
    {
        <li><a asp-controller="Game" asp-action="Move" asp-route-id="@path.EndId">Go to Room @path.EndId</a></li>
    }
</ul>
<hr/>
<h4>@ViewBag.Character.Name</h4>