@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model AncientMinotaurs.Models.Character

<h2>Create</h2>
<hr />
<h4>Add a new user</h4>
<form method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Avatar" class="control-label">Avatar URL</label>
        <input asp-for="Avatar" class="form-control" />
    </div>
    <input type="hidden" asp-for="RoomId" value="1" />
    <input type="hidden" asp-for="Health" value="100" />
    <input type="hidden" asp-for="Experience" value="0" />
    <input type="hidden" asp-for="Damage" value="10" />

    <div>
        <button class="btn btn-lg btn-success">Save</button>
    </div>
</form>
<p><a asp-controller="Character" asp-action="Index">Back to character list</a></p>

<p>
    <a asp-controller="Account" asp-action="Index">Back to Accounts</a>
</p>
