@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<AncientMinotaurs.Models.Character>

@using System.Security.Claims

<h2>@User.Identity.Name Characters</h2>
<hr />

@if (Model.Any())
{
    <ul>
        @foreach (var listItem in Model)
        {
            <li><a asp-controller="Character" asp-action="Details" asp-route-id="@listItem.CharacterId">@Html.DisplayFor(modelItem => listItem.Name)</a></li>
        }
    </ul>
}
else
{
    <p>No tasks have been added yet!</p>
}
@Html.ActionLink("Create new", "Create")
<p>
    <a asp-controller="Account" asp-action="Index">Back to Accounts</a>
</p>